{% extends 'base.html.twig' %}

{% block body %}
	{% block header%}
		{{parent()}}
	{% endblock %}
	{% block menu %}
		{{parent()}}
	{% endblock %}
	{% block separador %}
		{{parent()}}
	{% endblock %}
	{% block javascripts %}
		{{parent()}}
	{% endblock %}

	<div class="contenido">
		<p class="tit">Formulario Acreditación Erasmus para consorcios de movilidad de Educación Superior (KA130-HED)</p>

		<div class="photo-container">
			<img src="{{ asset('assets/img/tamaño-foto-dni.jpg') }}" alt="Foto de DNI" class="photo">
		</div>

		<div class="form-container">

			<div class="input-container">
				<input type="text" id="nombre" class="input-with-label"placeholder=" " value="{{candidato.Nombre}}">
				<label for="nombre" class="label-inside">Nombre</label>
			</div>

			<div class="input-container">
				<input type="text" id="dni" class="input-with-label" placeholder=" " value="{{candidato.DNI}}">
				<label for="dni" class="label-inside">DNI</label>
			</div>

			<div class="input-container">
				<input type="text" id="curso" class="input-with-label" placeholder=" " value="{{candidato.Curso}}">
				<label for="curso" class="label-inside">Curso</label>
			</div>

			<div class="input-container">
				<input type="text" id="telefono" class="input-with-label" placeholder=" " value="{{candidato.Tlf}}">
				<label for="telefono" class="label-inside">Teléfono</label>
			</div>

			<div class="input-container">
				<input type="text" id="apellidos" class="input-with-label" placeholder=" " value="{{candidato.Apellidos}}">
				<label for="apellidos" class="label-inside">Apellidos</label>
			</div>

			<div class="input-container">
				<input type="text" id="correo" class="input-with-label" placeholder=" " value="{{candidato.Correo}}">
				<label for="correo" class="label-inside">Correo</label>
			</div>

			<div class="input-container">
				<input type="text" id="domicilio" class="input-with-label" placeholder=" " value="{{candidato.Domicilio}}">
				<label for="domicilio" class="label-inside">Domicilio</label>
			</div>

			<div class="input-container" id="contenedor">
				<input type="file"  class="input-with-label" id="fichero" placeholder=" ">
				<label for="idioma" class="label-inside">Idioma</label>
			</div>

			<div class="input-container">
				<input type="file" id="notas" class="input-with-label" class="fichero" placeholder=" ">
				<label for="notas" class="label-inside">Notas</label>
			</div>

			<div class="boton-container">
            <button class="enviar">Enviar formulario</button>
        </div>

		</div>
	</div>
{% endblock %}
