{% extends 'base.html.twig' %}

{% block body %}
	{% block header%}
		{{parent()}}
	{% endblock %}
	{% block menu %}
		{{parent()}}
	{% endblock %}
	{% block separador %}
		{{parent()}}
	{% endblock %}
	{% block javascripts %}
		{{parent()}}
	{% endblock %}
	{# <div class="barra-filtrar" id="barra-filtrar">
		{# <button class="expand" id="filter"></button> #}
		{# <p class="texto-torcido" id="filter-tit">Filtrar por <button class="expand" id="filter"></button></p>
	</div> #} 
	<div class="contenido">
		<h1>Convocatorias abiertas
			{% if app.user and 'ROLE_ADMIN' in app.user.roles %}
				<button class="newConvo" id="newConvo">Nueva convocatoria</button>
			{% endif %}
		</h1>
		<br><br>
		<main>
			<section>
				<p class="media">
					Bienvenido a la sección de las solicitudes Erasmus+. Desde aquí puede solicitar una o más acciones apoyadas por el programa Erasmus+ y gestionadas por las Agencias Nacionales Erasmus+. Abajo puede encontrar las solicitudes clasificadas según el ámbito de oportunidad o por acción clave.<br><br>
					Si buscas información sobre el Cuerpo Europeo de Solidaridad, visita el
																																																		Antes de comenzar su solicitud, compruebe que su organización dispone de un único ID de la organización (OID), como requisito para participar en acciones de Erasmus+ gestionadas por las Agencias Nacionales. Puede buscar su ID de la organización (OID) o registrar una nueva organización usando la plataforma Erasmus+ y Cuerpo Europeo de Solidaridad
				</p>
			</section><br>

			<div class="convo-div">
				{% if convocatorias is empty %}
					<div class="convo-box">
						<hr>
						<h3>
							No hay convocatorias disponibles para este proyecto.</h3>
						<hr>
					</div>
				{% else %}
					{% for convocatoria in convocatorias %}
						<div class="convo-box">
							<h3>
								{{convocatoria.Nombre}}
								({{convocatoria.Proyecto.Codigo}})</h3>
							<hr>
							<p>Número de modalidades:
								<strong>{{convocatoria.Movilidades}}</strong>
							</p>

							<p>Tipo de convocatoria:
								<strong>{{convocatoria.Tipo}}</strong>
							</p>
							<p>Fecha inicio:
								<strong>{{convocatoria.Fechaini|date("d/m/Y") }}</strong>
							</p>
							<p>Fecha fin:
								<strong>{{convocatoria.Fechafin|date("d/m/Y") }}</strong>
							</p>
							<p>Fecha inicio pruebas:
								<strong>{{convocatoria.Fechainipruebas|date("d/m/Y") }}</strong>
							</p>
							<p>Fecha límite pruebas:
								<strong>{{convocatoria.Fechafinpruebas|date("d/m/Y") }}</strong>
							</p>
							<p>Fecha lista provisional:
								<strong>{{convocatoria.Fechalistaprov|date("d/m/Y") }}</strong>
							</p>
							<p>Fecha lista oficial:
								<strong>{{convocatoria.Fechalistafinal|date("d/m/Y") }}</strong>
							</p>
							<p>Destinatarios:
								<strong>
									{% for item in convocatoria.convocatoriaDestinatarios %}
										{{item.Destinatario.CodGrupo}}
									{% endfor %}
								</strong>
							</p>
							<p>Baremos:
								<strong>
									{% for item in convocatoria.ConvocatoriaBaremables %}
										{{item.Item.Nombre}}
									{% endfor %}
								</strong>
							</p>
							<br><br>
							{% if app.user %}
								<button class="expandInfo" id="expandInfo" data-id={{convocatoria.id}}>Solicitar</button>
							{% else %}
								<a href="{{ path('app_login') }}">
									<button class="expandInfo" id="expandInfo">Solicitar</button>
								</a>
							{% endif %}
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</main>

	</div>
{% endblock %}
