{% extends 'base.html.twig' %}

{% block body %}
	{% block header%}
		{{parent()}}
	{% endblock %}
	{% block menu %}
		{{parent()}}
	{% endblock %}
	{% block separador %}
		{{parent()}}
	{% endblock %}
	{% block javascripts %}
		{{parent()}}
	{% endblock %}
	<div class="contenido">
    <p class="tit" id="tit">Mis solicitudes</p>
		{% for item in candidato.solicituds %}
            <div class="convocatoria btnSolicitud" data-id={{item.id}}>
				<p class="nombre-convocatoria">{{item.convocatoria.nombre}} ({{item.convocatoria.proyecto.codigo}})</p>
				<p class="fecha-fin">Publicación de lista provisional: {{item.convocatoria.Fechalistaprov|date("d/m/Y") }}</p>
			</div>
		{% endfor %}
	</div>

{% endblock %}
