{% extends 'base.html.twig' %}

{% block body %}
	{% block header%}
		{{parent()}}
	{% endblock %}
	{% block menu %}
		{{parent()}}
	{% endblock %}
	{% block separador %}
		{{parent()}}
	{% endblock %}
	{% block javascripts %}
		{{parent()}}
	{% endblock %}

	<div class="contenido">
	<p class="tit" id="tit">Baremar candidatos</p>
		{% for convocatoria in convocatorias %}
			<div class="convocatoria" data-id={{convocatoria.id}}>
				<p class="nombre-convocatoria">{{convocatoria.nombre}} ({{convocatoria.proyecto.codigo}})</p>
				<p class="fecha-fin">Entrega de lista provisional: {{convocatoria.Fechalistaprov|date("d/m/Y") }}</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}
